html{
    font-family: Helvetica, sans-serif ;
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: Georgia,serif;
}

blockquote{
    font-style: italic;
}

aside{
    
    margin-left: 1800px;
    margin-top: 20px;
}

table{
    border-collapse: collapse;
}
table thead{
    background-color: rgb(211, 211, 211);
    width: 144px;
    height: 32px;
}
td{
    width: 400px;
    height: 32px;
    border: solid 2px  #dcdcdc;
    padding-left: 5px;
}